@import "../../../../styles/box-shadows.scss";
@import "../../../../styles/color-palette.scss";
a {
  text-decoration: none;
  color: $green-light;
  font-size: 1.2rem;
  display: block;
  padding: 10px 10%;
  transition: 150ms ease;
  &:hover {
    background: rgb(223, 219, 219);
  }
}
.active {
  color: #fff;
  background: $green-light;
  font-weight: bold;
}
