@import "../../../../styles/box-shadows.scss";
@import "../../../../styles/color-palette.scss";
.side-bar__item {
  width: 100%;
  padding: 15px 0;

  &:hover a {
    transform: scale(105%);
    border-bottom: 2px solid $green-light;
    border-right: 2px solid $green-light;
  }
  a {
    transition: 300ms ease;
    text-decoration: none;
    width: 100%;
    i {
      width: 50px;
      font-size: 1.9rem;
    }
    cursor: pointer;
    background: transparent;
    width: 98%;
    height: 100%;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 15px;
    color: $green-light;
  }
  .active {
    font-weight: bold;
  }
}
