@import "../../../../../styles/color-palette";
.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $green-dark-1;
    color: $green-light;
    width: 50px;
    font-size: 2rem;
    aspect-ratio: 1/1;
    transition-duration: 150ms;
    &:hover{
      background-color: $green-light;
      color: #fff;
    }
  }
}
