<div class="pagination-wrapper">
  <button (click)="toFirstPage()" class="pagination-wrapper__page-jump">
    First
  </button>
  <button class="pagination-wrapper__icons" (click)="previousPage()">
    <i class="fa fa-chevron-left"></i>
  </button>
  <p *ngIf="currentPage > 1" class="pagination-wrapper__page-numbers">
    <span>{{ currentPage }}</span>
  </p>
  <p class="pagination-wrapper__page-numbers current-page">
    <span>{{ currentPage + 1 }}</span>
  </p>
  <p
    *ngIf="this.currentPage + 1 < totalPages"
    class="pagination-wrapper__page-numbers"
  >
    <span>{{ currentPage + 2 }}</span>
  </p>
  <button class="pagination-wrapper__icons" (click)="nextPage()">
    <i class="fa fa-chevron-right"></i>
  </button>
  <button (click)="toLastPage()" class="pagination-wrapper__page-jump">
    Last
  </button>
</div>
