@import "../../../../../styles//color-palette.scss";
.select-wrapper {
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid rgb(194, 191, 187);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $light-turquoise;
  cursor: pointer;

  &::after {
    content: ">";
    transform: rotate(90deg);
    font-weight: bold;
  }
}

.options-wrapper {
  margin-top: 2px;
  border: 1px solid rgb(194, 191, 187);
  border-radius: 5px;
}
