@import "../../../../../styles//color-palette.scss";
.select-wrapper {
  padding: 10px 15px;
  font-size:1rem;
  border: 1px solid  $turquoise;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $light-turquoise;
  cursor: pointer;

  // &::after {
  //   content: ">";
  //   transform: rotate(90deg);
  //   font-weight: bold;
  // }

  &:focus{
    border: 1px solid $turquoise;
    outline: 2px solid  $turquoise;
  }
  .is-open{
    transform: rotate(180deg);
  }
}

.options-wrapper {
  margin-top: 2px;
  border: 1px solid  $turquoise;
  border-radius: 5px;
}
