@import '../../../styles/breakpoints';
.products-wrapper{
  width: 80%;
  margin: auto;
  &__products-list{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include breakpoint('lg'){
    grid-template-columns: repeat(3,1fr);
    }
    @include  breakpoint('md'){
      grid-template-columns: repeat(2,1fr);
    }
    @include breakpoint('sm'){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
