<form [formGroup]="registerForm" class="register_form">
  <h2 class="register_form__title">Register</h2>
  <div class="register_form__input_wrapper">
    <label>Username: </label>
    <app-custom-text-input formControlName="username"></app-custom-text-input>
  </div>
  <div class="register_form__input_wrapper">
    <label>Password: </label>
    <app-custom-text-input
      type="password"
      formControlName="password"
    ></app-custom-text-input>
  </div>
  <div class="register_form__input_wrapper">
    <label>Firstname: </label>
    <app-custom-text-input formControlName="firstName"></app-custom-text-input>
  </div>
  <div class="register_form__input_wrapper">
    <label>Lastname: </label>
    <app-custom-text-input formControlName="lastName"></app-custom-text-input>
  </div>

  <div formGroupName="userContactInfo" class="register_form__contact_info">
    <div class="register_form__contact_info__input_wrapper">
      <label>Email: </label>
      <app-custom-text-input
        type="email"
        formControlName="email"
      ></app-custom-text-input>
    </div>
    <div class="register_form__contact_info__input_wrapper">
      <label>Contact phone: </label>
      <app-custom-text-input
        formControlName="contactPhone"
      ></app-custom-text-input>
    </div>
  </div>
  <div>
    <app-custom-button
      [isDisabled]="registerForm.invalid"
      (clickButton)="register()"
      text="Register"
      type="submit"
      buttonType="turquoise"
    ></app-custom-button>
  </div>
</form>
