<form [formGroup]="registerForm" class="register_form">
  <div class="register_form__title_wrapper">
    <i class="fa fa-pencil"></i>
    <h2 class="register_form__title_wrapper__title">SIGN UP</h2>
  </div>
  <hr />
  <div class="register_form__input_wrapper">
    <app-custom-text-input
      title="username"
      formControlName="username"
    ></app-custom-text-input>
  </div>
  <div class="register_form__input_wrapper">
    <app-custom-text-input
      title="password"
      type="password"
      formControlName="password"
    ></app-custom-text-input>
  </div>
  <div class="register_form__input_wrapper">
    <app-custom-text-input
      title="confirm password"
      type="password"
      formControlName="confirm_password"
    ></app-custom-text-input>
  </div>
  <div class="register_form__input_wrapper">
    <app-custom-text-input
      title="firstname"
      formControlName="firstName"
    ></app-custom-text-input>
  </div>
  <div class="register_form__input_wrapper">
    <app-custom-text-input
      title="Lastname"
      formControlName="lastName"
    ></app-custom-text-input>
  </div>

  <div formGroupName="userContactInfo" class="register_form__contact_info">
    <div class="register_form__contact_info__input_wrapper">
      <app-custom-text-input
        title="email"
        type="email"
        formControlName="email"
      ></app-custom-text-input>
    </div>
    <div class="register_form__contact_info__input_wrapper">
      <app-custom-text-input
        title="contact phone"
        formControlName="contactPhone"
      ></app-custom-text-input>
    </div>
  </div>
  <div class="register_form__link_wrapper">
    <span>You already have an account?</span>
    <span> click <button (click)="redirectToLogin()">here</button> to sign in </span>
  </div>
  <div class="register_form__button_wrapper">
    <button
      [class.disabled]="registerForm.invalid"
      [disabled]="registerForm.invalid"
      (click)="register()"
      class="register_form__button_wrapper__signup_btn"
    >
      SIGN UP
    </button>
  </div>
</form>
