.select-options {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid rgb(194, 191, 187);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.options {
  cursor: pointer;
  border: 1px solid rgb(194, 191, 187);
  margin-top: 10px;
  border-radius: 5px;
  div{
    padding: 5px 10px;
    &:hover {
      color: white;
      background: gray;
    }
  }
  
}
