@import "../../../../../styles/color-palette.scss";
button {
  cursor: pointer;
  font-size: 1.1rem;
  width: 100px;
  padding: 5px;
  height: 35px;
  transition: 300ms ease-in;
}

.danger {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  &:hover {
    color: red;
    background: #fff;
  }
}
.primary {
  background: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  &:hover {
    color: blue;
    background: #fff;
  }
}
.secondary {
  background-color: grey;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  &:hover {
    color: grey;
    background: #fff;
  }
}
.success {
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 5px;
  &:hover {
    color: green;
    background: #fff;
  }
}
.warning {
  background-color: #ffc107;
  color: white;
  border: 1px solid #ffc107;
  border-radius: 5px;
  &:hover {
    color: #ffc107;
    background: #fff;
  }
}
.info {
  background-color: turquoise;
  color: white;
  border: 1px solid turquoise;
  border-radius: 5px;
  &:hover {
    color: turquoise;
    background: #fff;
  }
}
.light {
  background-color: rgb(240, 238, 238);
  color: #000;
  border: 1px solid rgb(240, 238, 238);
  border-radius: 5px;
  &:hover {
    color: rgb(240, 238, 238);
    background: #000;
  }
}
.dark {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  &:hover {
    color: #000;
    background: #fff;
  }
}
.turquoise {
  background-color: $turquoise;
  color: #fff;
  border: 1px solid $turquoise;
  border-radius: 5px;
  &:hover {
    color: $turquoise;
    background: #fff;
  }
}
.green-light {
  background-color: $green-light;
  color: #fff;
  border: 1px solid $green-light;
  border-radius: 5px;
  &:hover {
    color: $green-light;
    background: #fff;
  }
}
.green-dark {
  background-color: $green-dark-1;
  color: #fff;
  border: 1px solid$green-dark-1;
  border-radius: 5px;
  &:hover {
    color: $green-dark-1;
    background: #fff;
  }
}

.disabled {
  opacity: 0.2;
}
.auth {
  width: auto;
  height: auto;
  background: $green-light;
  border: 1px solid $green-dark-1;
  font-size: 1.1rem;
  padding: 15px 60px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}
