@import "../../../../../styles/color-palette.scss";
button {
  padding: 7px 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 300ms ease-in;
}

.danger {
  background-color: #dc3545;
  color: #f8f9fa;
  border: 1px solid #dc3545;
  border-radius: 5px;
  &:hover {
    color: #dc3545;
    background: #f8f9fa;
  }
}
.primary {
  background: $green-dark-1;
  color: white;
  border: 1px solid $green-dark-1;
  border-radius: 5px;
  &:hover {
    color: $green-dark-1;
    background: #fff;
  }
}
.secondary {
  background-color: #6c757d;
  color: white;
  border: 1px solid #6c757d;
  border-radius: 5px;
  &:hover {
    color: #6c757d;
    background: #fff;
  }
}
.success {
  background-color: $green-light;
  color: white;
  border: 1px solid $green-light;
  border-radius: 5px;
  &:hover {
    color: $green-light;
    background: #fff;
  }
}
.warning {
  background-color: #e1ad01;
  color: white;
  border: 1px solid #e1ad01;
  border-radius: 5px;
  &:hover {
    color: #e1ad01;
    background: #fff;
  }
}
.info {
  background-color: #17a2b8;
  color: #f8f9fa;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  &:hover {
    color: #17a2b8;
    background: #f8f9fa;
  }
}
.light {
  background-color:#f8f9fa;
  color: #3e363f;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  &:hover {
    color: #f8f9fa;
    background: #3e363f;
  }
}
.dark {
  background-color: #3e363f;
  color:#f8f9fa;
  border: 1px solid #3e363f;
  border-radius: 5px;
  &:hover {
    color: #3e363f;
    background:#f8f9fa;
  }
}
.turquoise {
  background-color: $turquoise;
  color: #fff;
  border: 1px solid $turquoise;
  border-radius: 5px;
  &:hover {
    color: $turquoise;
    background: #fff;
  }
}

.disabled {
  opacity: 0.2;
}
.auth {
  background: $green-light;
  border: 1px solid $green-dark-1;
  font-size: 1.1rem;
  padding: 15px 60px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}
