$dark: #272343;
$light: #ffffff;
$light-turquoise: #e3f6f5;
$turquoise: #bae8e8;


$green-dark-1: rgb(48, 163, 119);
$green-light: rgb(53, 184, 133);

//reference to color palette https://palettes.shecodes.io/palettes/1551
