@import "../../../../../styles/color-palette.scss";
input {
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid $turquoise;
  border-radius: 5px;
  width: 100%;
  background: $light-turquoise;
  &:focus {
    border: 1px solid #ffdb58;
    outline: 2px solid #ffdb58;
  }
}
