@import "../../../../../styles/color-palette.scss";
.input_wrapper {
  position: relative;
  input {
    padding: 10px 15px;
    // margin-top: 2%;
    font-size: 1.1rem;
    border: 1px solid #d4d1d18a;
    border-radius: 1px;
    width: 100%;
    background: #ece9e98a;
    &:focus {
      border: 1px solid $green-dark-1;
      outline: none;
    }
  }

  .is-invalid {
    border: 1px solid rgb(226, 53, 53);
    outline: none;
    &:focus {
      border: 1px solid rgb(226, 53, 53);
      outline: none;
    }
  }
}

label {
  font-size: 1.1rem;
  &::after {
    content: ":";
  }
  text-transform: capitalize;
}
