<form [formGroup]="addProductForm" class="add-product-form">
  <h3>Add new product</h3>
  <div class="add-product-form__form-control">
    <app-custom-text-input
      formControlName="name"
      title="name"
    ></app-custom-text-input>
  </div>
  <div class="add-product-form__form-control">
    <app-custom-text-input
      formControlName="price"
      type="number"
      title="price"
    ></app-custom-text-input>
  </div>
  <div class="add-product-form__form-control">
    <app-custom-text-input
      formControlName="quantity"
      type="number"
      title="quantity"
    ></app-custom-text-input>
  </div>
  <div class="add-product-form__form-control">
    <app-custom-select-wrapper
      *ngIf="brands$ | async as brands"
      formControlName="brand"
      labelProps="brandName"
    >
      <app-custom-select-option *ngFor="let brand of brands" [value]="brand"
        >{{ brand.brandName }}
      </app-custom-select-option>
    </app-custom-select-wrapper>
  </div>
  <div class="add-product-form__button_wrapper">
    <app-custom-button
      type="button"
      [isDisabled]="addProductForm.invalid"
      (clickButton)="submitForm()"
      buttonType="primary"
      text="Submit"
    ></app-custom-button>
    <app-custom-button
      type="button"
      (clickButton)="close()"
      buttonType="light"
      text="Close"
    ></app-custom-button>
  </div>
</form>
