<form [formGroup]="form">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <app-custom-text-input
      formControlName="firstname"
      id="firstname"
    ></app-custom-text-input>
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <app-custom-text-input
      id="lastname"
      type="text"
      formControlName="lastname"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <app-custom-text-input id="email" type="text" formControlName="email" />
  </div>
  <!-- <div class="form-group">
    <label>Select gender:</label>
    <app-custom-select-element formControlName="gender" [options]="options">
      <p test>Aleksa</p>
      <p>Milan</p>
    </app-custom-select-element>
  </div> -->
  <div class="form-group">
    <label for="password">Password</label>
    <app-custom-text-input
      id="password"
      type="text"
      formControlName="password"
    />
  </div>
  <div class="form-group">
    <label for="repeat_password">Repeat password</label>
    <app-custom-text-input
      id="repeat_password"
      type="text"
      formControlName="repeat_password"
    />
  </div>
  <div class="form-group">
    <app-custom-select-wrapper formControlName="gender">
      <app-custom-select-option
        *ngFor="let option of options"
        [value]="option.value"
      ></app-custom-select-option>
    </app-custom-select-wrapper>
  </div>
  <div>
    <!-- <app-custom-buttom [disabled]="true"></app-custom-buttom> -->
    <app-custom-button
      (clickButton)="checkValues()"
      [text]="'Submit'"
      [buttonType]="'danger'"
    ></app-custom-button>
    <app-custom-button
      [buttonType]="'primary'"
      text="Primary"
    ></app-custom-button>
    <app-custom-button [buttonType]="'dark'" text="Dark"></app-custom-button>
    <app-custom-button [buttonType]="'light'" text="Light"></app-custom-button>
    <app-custom-button
      [buttonType]="'secondary'"
      text="Secondary"
    ></app-custom-button>
    <app-custom-button
      [buttonType]="'success'"
      text="Success"
    ></app-custom-button>
    <app-custom-button
      [buttonType]="'warning'"
      text="Warning"
    ></app-custom-button>
    <app-custom-button [buttonType]="'info'" text="Info"></app-custom-button>

    <!-- <button (click)="checkValues()">Check Values</button> -->
  </div>
</form>
