<form [formGroup]="form">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <app-custom-text-input
      formControlName="firstname"
      id="firstname"
    ></app-custom-text-input>
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <app-custom-text-input
      id="lastname"
      type="text"
      formControlName="lastname"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <app-custom-text-input id="email" type="text" formControlName="email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <app-custom-text-input
      id="password"
      type="text"
      formControlName="password"
    />
  </div>
  <div class="form-group">
    <label for="repeat_password">Repeat password</label>
    <app-custom-text-input
      id="repeat_password"
      type="text"
      formArrayName="repeat_password"
    />
  </div>
  <div>
    <!-- <app-custom-buttom [disabled]="true"></app-custom-buttom> -->
    <app-custom-buttom
      (clickButton)="checkValues()"
      [text]="'Submit'"
      [buttonType]="'danger'"
    ></app-custom-buttom>

    <!-- <button (click)="checkValues()">Check Values</button> -->
  </div>
</form>
