@import "../../../../styles/box-shadows.scss";
@import "../../../../styles/color-palette";
.product {
  box-shadow: 0 2px 7px #dfdfdf;
  position: relative;
  max-width: 240px;
  height: 330px;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  &__option-button {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 1rem;
    box-shadow: 0 2px 7px #dfdfdf;
    padding: 5px;
    cursor: pointer;
  }
  &__image {
    height: 55%;
    background: $green-light;
    opacity: 0.5;
  }
  &__details {
    padding: 10px 0 10px 10px;
    height: 45%;
    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 400;
      margin: 10px 0;
    }
    p {
      font-size: 0.7rem;
      color: rgb(161, 160, 160);
    }
    &__divider {
      border-bottom: 1px solid $green-light;
      width: 90%;
      margin: 10px auto;
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 7%;
      p {
        font-size: 1rem;
      }
      i {
        color: rgb(161, 160, 160);
        cursor: pointer;
      }
    }
  }
}
