<div *ngIf="product" class="product">
  <button *ngIf="role === 'ADMINISTRATOR'" class="product__option-button">
    Options
  </button>
  <div class="product__image"></div>
  <div class="product__details">
    <h3>{{ product.name }}</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur,
      totam. Reiciendis, odit ad.
    </p>
    <div class="product__details__divider"></div>
    <div class="product__details__price">
      <p>{{ product.price | rsd }}</p>
      <div>
        <i class="fa fa-shopping-cart"></i>
      </div>
    </div>
  </div>
</div>
