<nav class="navigation">
  <ul class="navigation__list">
    <li></li>
    <li class="navigation__list__item_wrapper">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <span>Contact</span>
      <span>About</span>
    </li>
    <li
      *ngIf="loggedUser$ | async as loggedUser"
      class="navigation__list__item_wrapper"
    >
      <p>Welcome {{ loggedUser.username }}</p>
    </li>
    <li *ngIf="!(loggedUser$ | async)" class="navigation__list__item_wrapper">
      <a routerLink="register" routerLinkActive="active">Sign up</a>
      <a routerLink="login" routerLinkActive="active">Sign in</a>
    </li>
    <li class="navigation__list__cart">
      <i class="fa fa-shopping-cart"></i>
      <span>{{ (cart$ | async)?.length }}</span>
    </li>
  </ul>
</nav>
