<nav class="navigation">
  <ul class="navigation__list">
    <li></li>
    <li class="navigation__list__item_wrapper">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Dashboard</a
      >
      <span>Contact</span>
      <span>About</span>
    </li>
    <li *ngIf="loggedUser$ | async" class="navigation__list__item_wrapper">
      <span>{{ (loggedUser$ | async)?.username }}</span>
      <button (click)="logout()">Logout</button>
    </li>
    <li *ngIf="!(loggedUser$ | async)" class="navigation__list__item_wrapper">
      <a routerLink="register" routerLinkActive="active">Sign up</a>
      <a routerLink="login" routerLinkActive="active">Sign in</a>
    </li>
  </ul>
</nav>
