button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.1rem;
}

.danger {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
.primary {
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
